<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>Dashboard</title>
</head>
<body>
<center>
    <h1>Hello, you are logged in!</h1>
</center>
    <h3><strong><p style="color:green;">Your API key: {{variable}}</p></strong></h3>
    <a href="{{url_for('logout')}}">Press here to log out</a><br/>
    <center>
<img src="https://media.istockphoto.com/vectors/welcome-lettering-sign-isolated-vector-vector-id1127929107?k=20&m=1127929107&s=612x612&w=0&h=7uCZvQJWwTpH4IpLEnRTAtjtPgd8htCyPwF1fxkD1T0=">
    </center>
</center>
</body>
</html>