<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <title>Home</title>
</head>
<body>
    <h1><center>Daily cryptocurrency data analysis.</center></h1>
    <hr>
    <a href="{{url_for('login')}}">Login Page</a><br>
    <a href="{{url_for('register')}}">Register Page</a><br>
    <hr>
        <h5>On this page you can check cryptocurrency rates from the past.</h5><br>
    <h5>Below you have subpages that you will have access to:</h5><br>
    <h5><p style="color:red;"> /test/nazwa/od/do</p>-this subpage allows you to analyze a specific cryptocurrency, <br>
        all you need to do is enter the dates between which you want to check it, its name and api key that you will get after registration</h5><br>
    <h5><p style="color:red;">/analiza/</p>-this subpage will allow you to analyze all the cryptocurrencies available on this site, in terms of which
        one was the best and which was the worst at the time. You will also receive information about their smallest and greatest values at that time and
        you can enter a time frame, but you don't have to, the site will default to the oldest and newest update. You must enter the api key</h5>
    <center>
<img src="https://images.squarespace-cdn.com/content/v1/57be8f94bebafb6d2e19154c/1585189766011-KSI7LU2HQLV93UCCOSCO/hello.png">
    </center>
</body>
</html>